<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new Post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="enter username" name="username" >
        <textarea placeholder="write ur post" name="content"></textarea>
        <button>submit post</button>
    </form>
    <br>
    <br>
</body>
</html>